language: node_js
node_js:
  - "node"
before_script:
  - npm install
script:
  - npm run compile
  - npm run test
  - npm run package
after_success: npm run coverage
deploy:
  - provider: releases
    api_key: $GITHUB_OAUTH_TOKEN
    file_glob: true
    file: ./*.vsix
    skip_cleanup: true
    on:
      tags: true
  - provider: script
    script: bash vscode-marketplace-publish.sh
    on:
      tags: true

