.gitignore
.vscode
.github/**
.nyc_output/**
coverage/**/*
scripts/**
src/**
**/*.map
**/*.spec.js
developer-guidelines.md
node_modules/**/*.md
**/*.d.ts
**/@types/**/*
**/bower.json
**/.jshintrc
**/tslint.json
**/tsconfig.json
**/.travis.yml
**/rollup.config.js
**/yarn.lock
**/package-lock.json
**/.npmignore
**/.editorconfig
**/.eslintrc.json
**/.gitattributes
**/Makefile
**/Makefile.targ
**/*.bak
**/component.json