@import url(https://unpkg.com/@highlightjs/cdn-assets@11.5.0/styles/github.min.css) (prefers-color-scheme: light);
@import url(https://unpkg.com/@highlightjs/cdn-assets@11.5.0/styles/github-dark-dimmed.min.css) (prefers-color-scheme: dark);

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    line-height: 23px;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

.heading {
    position: relative;
}

.heading:hover .link-sharp {
    display: block;
}

.link-sharp {
    position: absolute;
    display: none;
    left: -20px;
}

#content {
    padding: 30px;
    width: 100%;
    overflow: auto;
}

#content a [id] {
    color: initial;
}

#content a {
    color: #0969da;
    font-weight: bold;
}

#content a:hover {
    text-decoration: underline;
}


#footer {
    height: 200px;
}

#navbar {
    background-color: #662d91;
    width: 100%;
    height: 50px;
    box-shadow: 1px -9px 13px 9px #000000bf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-shrink: 0;
    align-self: flex-start;
    color: white;
}

#body-area {
    display: flex;
    flex-direction: row;
    height: calc(100% - 50px);
    position: relative;
}

#sidebar {
    height: 100%;
    flex: 0 0 300px;
    border-right: 1px solid lightgrey;
    overflow: auto;
}

#sidebar .entry {
    padding: 15px;
    cursor: pointer;
    display: block;
}

#sidebar a:hover {
    background-color: rgba(0, 0, 0, .05);
}

.folder {
    display: block;
}

.folder .name {
    font-weight: bold;
}

#sidebar>.folder>.children {
    padding-left: 0 !important;
}

.folder .children {
    padding-left: 25px;
}

code {
    display: inline;
    padding: .2em .4em;
    border-radius: 6px;
}

.nav-left-area {
    display: flex;
    align-items: center;
}

.hamburger {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: none;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;
}

img {
    max-width: 50%;
    max-height: 50%;
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: inline;
    }

    #sidebar {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 1px 13px 13px 9px #000000bf;
    }

    #sidebar.open {
        display: block;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}


@media (prefers-color-scheme: light) {
    code {
        background-color: #ebebeb;
    }

    pre code {
        background-color: #f6f8fa !important;
    }

}

@media (prefers-color-scheme: dark) {
    code {
        background-color: rgba(110, 118, 129, 0.4);
    }

    #content a {
        color: #58a6ff;
        font-weight: bold;
    }

    body,
    #sidebar {
        background-color: #0d1117;
        color: white;
    }

    #content a [id] {
        color: white;
    }

    #sidebar a:hover {
        background-color: rgba(255, 255, 255, .1);
    }
}